@import '../../components/styles/variaveis';
@import "../../components/styles/breakpoints";
@import "../../components/styles/variaveis";
  

  
  .cardapio {
    &_titulo {
      color: $dark;
      font-size: 3rem;
      margin-bottom: 30px;
    }
  }

  .footer{
    text-align: center;
    background-color: #2F2F3B;
    color: white;
    padding: .5em;
    font-weight: 500;
    font-size: 15px;
  }

  .footer a{
    text-decoration: none;
    color: aqua;
  }